body  {
    background-color: #1cb836;
    color: rgb(57, 47, 158);
    font-family: "Georgia", serif;
}
h1{
    color: black;
    font-size: 40px;
}
.seccion {
    background-color: antiquewhite;
}
#perfil {
    background-color: aliceblue;
}